
<h1><%= @channel.name %></h1>

<h3>Genres:</h3>

<%# @video_mix.genres.each do |genre| %>
  <%#= genre.name %> <br />
<%# end %>

<h3>Eras:</h3>


<br />

<%=link_to 'Edit', edit_channel_path(@channel) %> <br>
<%=link_to 'Video Index', channel_path %>
